:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #b8c2b9;
	background-color: #382b26;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

#root {
	width: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-height: 100vh;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

button {
	border: 1px solid #b8c2b9;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

#main {
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
	margin: auto;
}
